@import '../../App/app.variables.scss';

.dropdown {
  width: 16em;
  font-size: $primary-font-size;
  font-weight: bold;
  color: $primary-color;
  text-decoration: underline;
  text-decoration-color: $primary-color;
  text-underline-offset: 0.5em;
  .ant-select-arrow {
    color: $primary-color;
  }
}
